@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.min.css");

/** 기본 컬러값 셋팅 **/

:root {
    --primary:#000;
    --secondary: #6c757d;
    --gray-70:#cdcdcd;
    --bg-light: #ededed;
    --bg-dark : #222;
    --text-light: #f8f9fa;
    --text-dark:#212529;

    /** 테마컬러 셋팅 나중에 ... **/
    --danger: #dc3545;
}

body{
    font-family: "Noto Sans KR", serif;
    font-size: 16px;
    color: var(--primary);
}
a, a:link{
    text-decoration: none;
    color: var(--bg-dark);
}
a:hover{
    color: var(--secondary);
}


.mt-10{margin-top:10px;}
.mt-20{margin-top:20px;}
.mt-30{margin-top:30px;}
.mt-40{margin-top:40px;}
.mt-50{margin-top:50px;}
.mb-10{margin-bottom:10px;}
.mb-20{margin-bottom:20px;}
.mb-30{margin-bottom:30px;}
.mb-40{margin-bottom:40px;}
.mb-50{margin-bottom:50px;}

.pt-10{padding-top:10px;}
.pt-20{padding-top:20px;}
.pt-30{padding-top:30px;}
.pt-40{padding-top:40px;}
.pt-50{padding-top:50px;}
.pb-10{padding-bottom:10px;}
.pb-20{padding-bottom:20px;}
.pb-30{padding-bottom:30px;}
.pb-40{padding-bottom:40px;}
.pb-50{padding-bottom:50px;}


.text-center{
    text-align: center;
}


/************************* List **************************/
.search-box{
    padding: 20px 30px;
    background: var(--bg-light);
    margin-bottom: 40px;
    text-align: center;
}
.all-text{
    margin-right: 30px;
}
.all-text span{
    color: var(--danger);
}
.search-input{
    border: 1px solid var(--gray-70);
    height: 40px;
    padding: 10px;
    width: 30%;
    outline-color: var(--secondary);
    margin-right: 2px;
    margin-left: 2px;
}
.search-input:focus{
    background: var(--gray-70);
    color: #212529;
}
.search-box button{
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;   
    outline: none;
}
.btn-search{
    background: var(--bg-dark);
    color: var(--bg-light);
    margin-right: 2px;
    margin-left: 2px;
}
.select-box{
    position: relative;
    width: 200px;
    border: 1px solid #ddd;
}
.selected{
    background: #fff;
    padding: 7px;
    border: 1px solid var(--gray-70);
    cursor: pointer;
}
.selected i{
    float: right;
    line-height: 20px;
}
.options{
    background: #fff;
    width: 100%;
    position:absolute;
    list-style:none ;
    margin: 0;
    padding: 0;
    border: 1px solid var(--gray-70);
    border-top: none;
    z-index: 100;
    top: 38px;
    display: none;
}
.options li{
      padding: 10px;  
      cursor: pointer;
      text-align: center;   
      transition: all 300ms;
}
.options li:hover{
    background: var(--secondary);
    color: #fff;

}
.select-box.active .options{
    display: block;
}